/amw-gradle/amw-gradle/.nb-gradle/profiles/private/
/amw-gamecommon/nbproject/private/
/amw-client-united/nbproject/private/
/amw-server-jgs/nbproject/private/
/amw-phase0/stendhal/nbproject/private/
/amw-phase0/stendhal/build/
/amw-phase0/stendhal/dist/